
#root{
  position: relative;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

#root form{
  position: absolute;
  left: 100px;
  top: 150px;
  margin: 30px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  align-items: center;
  justify-content: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  position: absolute;
  top: 550px;
  width: 250px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 3px;
  left: 50px;
}

button:hover{
  background-color: #45a049;
}